<!DOCTYPE html>
<html th:replace="~{layout/layout::layout(~{::title},~{::div},~{::script})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>歌曲页面</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-4">
      <ul class="list-group">
        <li th:each="playlist:${playlists}" class="list-group-item">
          <a th:href="@{/home(playListId=${playlist.id}})}" th:text="${playlist.title}"></a>
        </li>
      </ul>
    </div>
    <div class="col-8">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">歌曲名称</th>
          <th scope="col">歌手</th>
          <th scope="col">时长</th>
          <th scope="col">播放</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song.iter:${songs}">
          <th scope="row" th:text="${iter.index}"></th>
          <td style="word-break: break-all" th:text="${song.name}"></td>
          <td th:text="${song.singer}"></td>
          <td th:text="${song.duration}"></td>
          <td><a href="#" class="play-btn" th:data-id="${song.id}"><img src="/play.png"></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  var audio = new Audio();

  $(document).ready(function () {

    $('.play-btn').om('click', function (e) {
      e.preventDefault();
      audio.src = "/music" + $(this).data("id") + ".mp3";
      audio.play()
    });
  });
</script>

</body>
</html>